#site{
    height:100%; 
    font-family: Avantgarde, "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    font-size: 23px;
    font-stretch: ultra-expanded;
    line-height: 1.5;
}

body{
    margin: 0 auto;
}

#cabecalho{
    width:100%;
    height:100%;
}





#bloco3{
    margin-top: 40px;
    width:100%;
    background-color: #f5f5f0;
}

#bloco3_1{
    width:50%;
    height:400px;
    float:left;
    
}

#bloco3_2{
    width:50%;
    height:400px;
    float:right;
    
}

.bloco_texto{
    margin: 10px 5% 10px 5%; ;
}

p{  
    margin: 10px 5% 10px 5%;
    text-align: center;
    color: #95918D;
}

.paragrafo_bloco3_2{ 
    height: 300px;
    margin: 40px 10% 30px 10%;
    text-align: justify;
}



h1{
    font-weight: bold;
    margin: 40px 10% 0px 10%;
    font-size: 20px;
    color: #95918D;
}


h3{
    font-weight: bold;
    margin: 0px 10% 0px 10%;
    font-size: 20px;
    color: #359C9C;
}

h2{
    font-style: oblique;
    margin: 10px 10% 10px 10%;
    font-size: 20px;
    color: #FDB933;
} 


.imagem{  
    margin-top:40px;
    width: auto;
}

.imagem_1{  
    margin-top:40px;
    width: auto;
}


#imagem-cabecalho{
    width: 100%;
    height: 100%;  
}

#fotos_bloco3_1{
    width:100%;
    
}

.fundo-foto1{
    width:25%;
    height:100%;
    float:left;
    background-color: #f5f5f0;
}


@media only screen and (max-width: 800px) {

    #bloco3_1{
        width:100%;
        height:300px;
        margin-top: 10px;
        margin-left: 0px;
        display: block;
    }
    .img-responsive{
        width: 80%;
    }
    #bloco3_2{
        width:100%;
        height:550px;
        margin-top: 0px;
        margin-left: 0px;
    }   
    
    .fundo-foto1{
        width:100%;
    }

    .imagem{  
        margin-top:0px;
        width: 80%;
    }

    .imagem_1{  
        margin-top:20px;
        width: 70%;
        
    }

    #fotos_bloco3_1{
        width:100%;
        background-color: #f5f5f0;
    }
}

@media only screen and (max-width : 1200px)
{
    .paragrafo_bloco3_2{
        font-size: 17px;
    }
    
}



