#site{
    height:100%; 
    font-family: Avantgarde, "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    font-size: 26px;
    line-height: 1.5;
    
}

body{
    margin: 0 auto;
}

#cabecalho{
    width:100%;
    height:100%;
}

#bloco3{
    margin-top: 40px;
    margin-bottom: 60px;;
    width:100%;
    height: 1050px;
    background-color: #f5f5f0;
}

#bloco3_1{
    width:50%;
    height:500px;
    float:left;
    
}

#bloco3_2{
    width:50%;
    height:500px;
    float:right;
    background-color: #f5f5f0;
    
}

.bloco_flutante_esquerdo_vagas{
    
    font-weight: bold;
    color: #359C9C;
    width:50%;
    height:auto;
    float:left;
    
}


.a_{
    text-decoration: none;
    font-weight: bold;
    color: #359C9C;
}

.bloco_flutante_direito_vagas{
    font-weight: bold;
    color:#95918D;
    width:50%;
    height:auto;
    float:left;
    text-align: right;
    
}

.link_vaga{
    margin: 10px 5% 10px 5%; 
    cursor: pointer;
}



.bloco4{
    width:100%;
    height: 600px;
}


.bloco_texto{
    height: auto;
    margin: 10px 5% 10px 5%; 
}

.bloco_h1{
    margin: 60px 0% 0px 0%; 
}

.bloco_h2{
    margin: -20px 0% 0px 0%; 
}



p{  
    text-align: center;
    color: #95918D;
}

.paragrafo_bloco3_2{ 
    text-align: justify;
}

#bloco_paragrafo_bloco3_2{
    height: auto;
    margin: 40px 10% 40px 0%;
}

#bloco_paragrafo_bloco4{
    height: auto;
    margin: 40px 5% 30px 5%;
}

#bloco_paragrafo_p{
    height: auto;
    margin: 10px 5% 10px 5%;
}


.bloco_titulo{
    margin: 60px 0% 60px 0%; 
}

.bloco_titulo_vagas{
    margin: 60px 5% 30px 5%; 
}

.bloco_titulo_meio{
    margin: 60px 0% 60px 0%; 
}

.bloco_titulo_cima{
    margin: 30px 0% 60px 1%; 
}

.vagas{
    margin: 0px 5% 0px 5%; 
}


h1{
    font-weight: bold;
    font-size: 26px;
    color: #95918D;
    line-height: 1.0;

}


h3{
    font-weight: bold;
    font-size: 26px;
    color: #359C9C;

}

h2{
    font-style: oblique;
    font-size: 26px;
    color: #FDB933;
} 


.imagem{  
    margin-top:40px;
    width: 70%;
}

.imagem_1{  
    margin-top:40px;
    width: 80%;
}

.imagem_2{  
    margin-top:40px;
    width: auto;
}

.imagem_3{  
    margin-top:60px;
    width: 90%;
    
}

#imagem-cabecalho{
    margin-top:0px ;
    width: 100%;
}

#fotos_bloco3_1{
    width:100%;
    
}

.fundo-foto1{
    width:25%;
    float:left;
    background-color: #f5f5f0;
}

.fundo-foto2{
    width:33%;
    height:auto;
    float:left;
}



@media only screen and (max-width: 800px) {

    #site{
        font-size: 18px;
    }

    #bloco3_1{
        width:100%;
        height:300px;
        margin-top: 10px;
        margin-left: 0px;
        display: block;
    }
    .img-responsive{
        width: 80%;
    }
    #bloco3_2{
        width:100%;
        height:550px;
        margin-top: 0px;
        margin-left: 0px;
    }   
    
    .fundo-foto1{
        width:100%;
    }

    .fundo-foto2{
        width:100%;
    }

    .imagem{  
        margin-top:0px;
        width: 80%;
    }

    .imagem_1{  
        margin-top:20px;
        width: 70%;
    }

    .imagem_2{  
        margin-top:20px;
        width: auto;      
    }

    .imagem_3{  
        width: 100%;
    }

    #fotos_bloco3_1{
        width:100%;
        background-color: #f5f5f0;
    }

    
  

    p{  
        text-align: justify;
    }

   
    
    h1{
        font-size: 16px;
        text-align: center;

    }

    h2{
        font-size: 16px;
        text-align: center;
    }

    h3{
        font-size: 16px;
        text-align: center;
    }
    
    .bloco_h2{
        margin: -15px 0% 0px 0%; 
    }
    

    #bloco_paragrafo_bloco3_2{
        margin: 40px 20% 30px 20%;
    }
    
    #bloco_paragrafo_bloco4{
        margin: 40px 20% 30px 20%;
    }
    
    #bloco_paragrafo_p{
        margin: 10px 20% 10px 20%;
    }
    

    

}

@media only screen and (max-width : 1200px)
{
    .paragrafo_bloco3_2{
        font-size: 17px;
    }
    
}



